html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    height: 100%;
}

body {

    height: 100%;
}

body, h1 , p{
    font-family: "Raleway", sans-serif;
}

h1{
    text-align: center;
    color: white;
    background-color: crimson;
}
.bg-img {
    background-image: url('../images/cows.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
#guess,#submit{
    display: none;
    margin-left: 25%;
    margin-top: 1%;
    width: 30%;
}
nav{
    margin-left: 25%;

}
input {
    border-radius: 12px;
    background-color: #dc143c;
    color: #fff;
    height: 50px;
    border: 2px solid #4CAF50;
    box-shadow: -3px 3px #ffc11e, 4px 4px #ff5214, -1px 1px #ff5921;
    cursor: pointer;
    text-align: center;
}

.title {
    text-align: center;
    color: white;
    margin-top: -64px;
    font-size: 40px;
}

.logo {
    padding-top: 20px;
    padding-left: 20px;
}

#rules {
    width: 75%;
    background-color: #ff4c33;
    color: white;
    text-align: justify;
    font-size: 20px;

}
#guesses,#results,#guess-text {
    margin-left: 25%;
    width: 30%;
    background-color: #fff;
}

#stop{
    margin-left: 25%;
    width: 30%;
}
#history{
    display: none;
    margin-left: 75%;
    border: white solid 1px;
    background-color: #dc143c;
    color: white;
    width: 20%;
}

#footer {
    text-align: right;
}